/* local fonts */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/notosans-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/notosansbold-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/notosans-latinext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/notosansbold-latinext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

body {
    margin: 0;
    padding: 0;
}

/* --- fancy design --- */
.background-image-layer {
    position: fixed;
    width: 100%;
    height: 100%;
}
.background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.background-image-day {
    background-image: url('../img/background-day.svg');
}
.background-image-night {
    background-image: url('../img/background-night.svg');
}
.content-barrier-layer {
    /*
    this places a copy of the background images on the top 1/3 of the
    page (height 30% + overflow hidden), combined with the stacking
    order (background image/content/content barrier) this creates the
    illusion that the content disappears into nothing during scrolling.
    */
    position: fixed;
    width: 100%;
    height: 32%;
    overflow: hidden;
}
.content-barrier-layer .background-image {
    position: absolute;
    width: 100%;
    /* 100*(100/(height of content-barrier-layer)) */
    height: 312.5%;
}
.landscape-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/landscape.svg');
}
.grill-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/grill.svg');
}
.textroll-layer {
    position: fixed;
    top: 60%;
    left: 19%;
    width: 62%;
    height: 30%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/textroll.svg');
}
.curtain-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.curtain-left {
    background-image: url('../img/curtain-left.svg');
}
.curtain-right {
    background-image: url('../img/curtain-right.svg');
}
.scroll-arrow {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 70px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/scroll-arrow.svg');
}


/* --- content --- */
.content-layer {
    position: relative;
    width: 55%;
    margin: 0 auto;
}
.content section {
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em 3em;
    font-family: Noto Sans;
    font-size: 1em;
    line-height: 1.2em;
    color: #CCC;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
.content section h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    line-height: 2em;
    text-align: center;
}
.content section h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
}
.content section p {
    margin: 1em 0 1em 0;
    padding: 0;
    font-size: 1.0em;
    line-height: 1.4em;
    text-align: center;
}
.content section a {
    color: #FFF;
}
.content .longtext {
    text-align: justify;
}
.content-music section table {
    width: 100%;
    margin: 0;
    padding: 0;
}
.content-music section td {
    margin: 0;
    padding:0em 1em 1em 0;
    text-align:left;
    vertical-align:top;
}


/* adjustments for landscape/portrait */
@media only screen and (orientation: landscape) {
    .content-layer {
        max-width: 44em;
    }
    .grill-top-position {
        transform: translateY(-4%);
    }
}
@media only screen and (orientation: portrait) {
   .grill-top-position {
        transform: translateY(-18%);
    }
    /**
     * for mobile, its okay if the background image does not spawn to the top of
     * the page, because the textroll covers that area already fairly well. so
     * this shrinks the barriers height and puts a white/dark-blue background
     * behind the textroll.
     */
    .content-barrier-layer {
        height: 16%;
    }
    .content-barrier-layer .background-image-day {
        background-image: none;
        background-color: #fff;
    }
    .content-barrier-layer .background-image-night {
        background-image: none;
        background-color: #000e26;
    }
    /* 
    the logo does not fit in a 5:4 aspect ratio  because of the 2560x1400 aspect
    ratio of the original svg.
    switch scaling mode to fixed-width and use a width of 250% this results in
    the image scaling near-perfectly to the maximum available viewport width.
    note: I have no idea what I am doing here omg but it seems to work ok
    */
    .background-image {
        background-size:250% auto;
    }
    .grill-layer {
        background-size:250% auto;
    }
    .landscape-layer {
        background-size:250% auto;
    }
    .textroll-layer {
        top: 55%;
        left: 4%;
        width: 92%;
        height: 30%;
        background-size: 100% auto;
    }
    .curtain-layer {
       background-size:252% auto;
    }
    .content-layer {
        width: 90%;
    }
    .content section {
        padding: 3em 2em;
    }
}


/* stacking */
.scrollable-timeline {
    z-index: 0;
}
.background-image-layer {
    z-index: 10;
}
.landscape-layer {
    z-index: 20;
}
.content-layer {
    z-index: 50;
}
.content-barrier-layer {
    z-index: 60;
}
.curtain-left {
    z-index: 80;
}
.curtain-right {
    z-index: 81;
}
.textroll-layer {
    z-index: 90;
}
.grill-layer {
    /* 
    the grill layer goes over the whole screen, too lazy to shrink svg.
    this prevents clickjacking from the layer
    */
    pointer-events: none;
    z-index: 90;
}
.scroll-arrow {
    z-index: 90;
}

/* animation timeline */
.content-layer {
    top: 55vh;
}
.content-opening {
    /* scroll enough for the curtains to move away before first content is shown */
    height: 100vh;
}
.content-flyer {
    margin-bottom: 25vh;
}
.content-music {
    margin-bottom: 25vh;
}

/* initial animation state */
.background-image-day {
    opacity: 1;
}
.background-image-night {
    opacity: 0;
}
